<div class="list-wrapper">
  <ng-container *ngFor="let el of products">
    <div class="element-wrapper">
      <div class="element-img"></div>
      <h3 class="element-title">{{el.title}}</h3>
      <p class="element-specs" [innerHTML]="el | productSpecs"></p>
    </div>
  </ng-container>
</div>
