.list-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px;

}

.element-wrapper {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid #dedede;
  border-radius: 15px;
}

.element-img {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to bottom right, red, yellow);
}
