<div class="filters-wrapper">
  <button class="clear-filters" (click)="resetFilter$.next(true)">Clear Filter</button>
  <div class="filter">
    <app-filter-component [filterData]="brandsData" [resetFilter$]="resetFilter$"
                          (changeSelectedItems)="filtersValueChange($event)"></app-filter-component>
  </div>
  <div class="filter">
    <app-filter-component [filterData]="matrixSpicesData" [resetFilter$]="resetFilter$"
                          (changeSelectedItems)="filtersValueChange($event)"></app-filter-component>
  </div>
  <div class="filter">
    <app-filter-component [filterData]="monitorResolutionsData" [resetFilter$]="resetFilter$"
                          (changeSelectedItems)="filtersValueChange($event)"></app-filter-component>
  </div>
  <div class="filter">
    <app-filter-component [filterData]="diagonalsData" [resetFilter$]="resetFilter$"
                          (changeSelectedItems)="filtersValueChange($event)"></app-filter-component>
  </div>

</div>
