.filters-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-top: 40px;
}

.clear-filters {
  height: 40px;
  background-color: #eee;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 5px 8px;
  cursor: pointer;
}

.filter {
  text-align: center;
  position: relative;
}

.filter-title {
  padding: 5px 8px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 15px;
}

.filter-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
