.filter-wrapper {
  width: 100%;
  height: 100%;
}

.filter {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 40px;
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 10px;
  cursor: pointer;
}

.filter-label-and-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-label {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #000;
  transition: transform 0.3s ease-in;
}

.filter-label-reducing {
  transition: transform 0.3s ease-in;
  transform: translateY(-8px) translateX(-5px) scale(70%);
}

.filter-label-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.filter-selected-items {
  position: absolute;
  width: 78%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 15px;
  left: 15px;
  margin: 0;
  text-align: left;
  font-size: 14px;
}

.filter-options {
  position: absolute;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  top: 40px;
  left: 1px;
  z-index: 2;
  border: 1px solid #dedede;
  border-radius: 10px;
  overflow-y: scroll;
}

.filter-options-option {
  background: #fff;
  border: none;
  padding: 10px;
  max-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.filter-options-option input {
  margin-right: 10px;
}

.filter-options-option:hover {
  background: #cecece;
}
