<div class="filter-wrapper">
  <div class="filter">
    <div class="filter-label-and-arrow" (click)="isFilterOpened = !isFilterOpened">
      <p class="filter-label" [ngClass]="{'filter-label-reducing': selectedItems.length > 0}">{{filterData.selectTitle}}</p>
      <span class="filter-label-arrow" [@rotateArrow]="isFilterOpened ? 'up' : 'down'"></span>
    </div>
    <p class="filter-selected-items" @fade (click)="isFilterOpened = !isFilterOpened"
       *ngIf="selectedItems.length > 0">{{selectedItemsTitle}}</p>
    <div class="filter-options" *ngIf="isFilterOpened" @expandSelectOptions>
      <button class="filter-options-option" *ngFor="let el of filterData.items" (click)="selectItem(el)">
        <input type="checkbox" [checked]="el.isSelected">
        <p>{{el.title}}</p>
      </button>
    </div>
  </div>
</div>
